.navbar {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-color: var(--color-3-alpha);
    padding: 0;
    padding-left: 20px;
}

.navbar__link {
    font-size: larger;
}

.navbar__link a {
    text-decoration: none;
    color: var(--color-5);
}

.navbar__link, .navbar__dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 5.5vh;
    text-decoration: none;
    text-align: center;
    color: var(--color-5);
}

.navbar__link:hover {
    background-color: var(--color-5);
    color: var(--color-2);
}

.navbar .active {
    font-weight: 950;
}