<html>
	<head>
       <link rel="stylesheet" href="../static/css/row_col.css" />
    <link rel="stylesheet" href="../static/css/form.css" />
    <link rel="stylesheet" href="../static/css/navbar.css" />
    <link rel="stylesheet" href="../static/css/main.css" />

		<title>Search place</title>
	</head>
<body>
	<div class="content">
		<form method="post" class="form">
			<div class="form__group">
				<h2>Search place activity</h2>
			</div>
			<div class="form__group">
				<label for="place_name"><b>Place Name</b></label>
				<input class="form__input" type="text" placeholder="Enter the name of the Place" name="place_name" required>
			</div>
			<div class="form__group">
				<label for="start_time"><b>Enter Time</b></label>
				<input class="form__input" type="datetime-local" placeholder="Enter starting time" name="start_time" required>
			</div>
			<div class="form__group">
				<label for="finish_time"><b>Exit Time</b></label>
				<input class="form__input" type="datetime-local" placeholder="Enter finishing time" name="finish_time" required>
			</div>
			<div class="form__group" style="margin: 0">
				<button class="form__button" type="submit" style="padding: 8px 40px;">Search</button>
			</div>
		</form>
	<div>
</body>
</html>
